* {
    font-family: "Raleway";
}

section {
    text-align: center;
}

h1 {
    font-size: 40px;
}

#codebarre, #codebarre2 {
    width: 200px;
    height: 25px;
    margin-bottom: 30px;
}

#generer {
    width: 80px;
    height: 25px;
}

.noire{
    width: 2px;
    height: 35px;
    background-color: black;
}

.blanche{
    width: 2px;
    height: 35px;
    background-color: white;
}

.garde {
    width: 2px;
    height: 40px;

}

